# Pandas Practice

In [ ]:
import pandas as pd # Importing the pandas library.
print("Pandas-version",pd.__version__)

Pandas-version 2.3.3

In [40]:
# Series - A Pandas 1-Dimensional labeled array that can hold any data type.
# Like a single column in a spreadsheet (1-Dimensional)
# A series is a column and a DataFrame is a multidimensional table made up of collection of series.

data = [100, 102, 104]
print(data)
print(type(data)) # A python list. We can also use numpy to create a one dimensional array

print() # space

data.insert(0,'Numbers')

series = pd.Series(data) # Converted into a pandas series.
print(series)
print(type(series))

print(series.loc[1]) # Accessing element using label-based indexing.
print(series.iloc[1]) # Accessing element using integer-based indexing.

series.loc[3] = 300 # Accessing index 3, and inserting a new value.
print(series)

print()

data = [100, 102, 104, 200, 202, 300]
prefix = 'Item_' 
string_index  = [f'{prefix}{i+1}' for i in range(len(data))] # Adding a custom index for our series using list comprehension.
series = pd.Series(data, index=string_index)
print(series)

print(series[series>200]) #printing values greater than 200

print()

calories = {"Day 1": 1750, # Making a dictionary
            "Day 2": 2100,
            "Day 3": 1700}
series = pd.Series(calories) # Since dictionaries are key:value pairs, the labels are the keys automatically.
print(series)

new_dict = {"Day": "Calories", **calories} # Here we add a new value at the start of the dictionary.
series = pd.Series(new_dict)
print(series)

[100, 102, 104]
<class 'list'>

0    Numbers
1        100
2        102
3        104
dtype: object
<class 'pandas.core.series.Series'>
100
100
0    Numbers
1        100
2        102
3        300
dtype: object

Item_1    100
Item_2    102
Item_3    104
Item_4    200
Item_5    202
Item_6    300
dtype: int64
Item_5    202
Item_6    300
dtype: int64

Day 1    1750
Day 2    2100
Day 3    1700
dtype: int64
Day      Calories
Day 1        1750
Day 2        2100
Day 3        1700
dtype: object

In [ ]:
# DataFrame = A tabular data structure with rows AND columns. (2-Dimensional)
# Similar to an Excel SpreadSheet

# Creating DataFrame Using Dictionary
data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df = pd.DataFrame(data , index=['emplyee1', 'emplyee2', 'emplyee3']) # A pandas dataframe. Here the keys became the columns and the values the value in each row.
sf = pd.Series(data) # for a series, the keys become the labels.
print(df,'\n')
print(sf)

# Adding a new column
df['Job'] = ["Cook", "N/A", "Cashier"]
print(df)

# Adding a new row
new_row = pd.DataFrame([{"Name": "Sandy",
                         "Age":28,
                         "Job": "Engineer"},
                         {"Name": "Mr.Krabs",
                         "Age":50,
                         "Job": "Owner"}],
                         index = ["emplyee4", "emplyee5"]) # add dictionaries for as many rows needed.
df = pd.concat([df, new_row])
print(df)

# Creating DataFrames from List of Lists
data = [
    ['Chinmoy', 'Australia', 'Perth'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

# Creating DataFrames from a List of Dictionaries
data = [
    {'Name': 'Chinmoy', 'Country': 'Australia', 'City': 'Perth'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

#Check the Web_Scraping.py to see another way of inserting Columns and then rows to a DataFrame.

               Name  Age
emplyee1  Spongebob   30
emplyee2    Patrick   35
emplyee3  Squidward   50

Name    [Spongebob, Patrick, Squidward]
Age                        [30, 35, 50]
dtype: object
               Name  Age      Job
emplyee1  Spongebob   30     Cook
emplyee2    Patrick   35      N/A
emplyee3  Squidward   50  Cashier
               Name  Age       Job
emplyee1  Spongebob   30      Cook
emplyee2    Patrick   35       N/A
emplyee3  Squidward   50   Cashier
emplyee4      Sandy   28  Engineer
emplyee5   Mr.Krabs   50     Owner
     Names    Country       City
0  Chinmoy  Australia      Perth
1    David         UK     London
2     John     Sweden  Stockholm
      Name    Country       City
0  Chinmoy  Australia      Perth
1    David         UK     London
2     John     Sweden  Stockholm

In [84]:
# Importing CSV files.
df = pd.read_csv('../data/pokemon_data.csv')
print(df) # df.to_string() will display all the data and not a truncated version like now.

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [ ]:
# Data Exploration
print(df.head()) # gives five row. We can increase the number of rows by passing argument to the head() method
print(df.tail()) # tails give the last five rows, we can increase the rows by passing argument to tail method
print(df.shape) # Gives us the rows and columns of a data frame.

print(df.columns) # Gives us all the columns inside the data frame.

# We can get a specific column with the column key.
names = df['Name'] # this is now a series
print(names)

# The describe() method provides a descriptive statistical values of a dataset.
heights = df['Height']
print(heights.describe())
print(heights.info())

print(df[["Name", "Height", "Weight"]])

print() 
# Selection by a row
df2 = pd.read_csv('../data/pokemon_data.csv', index_col="Name")
print(df2.loc["Pikachu"])

   No        Name  Type1   Type2  Height  Weight  Legendary
0   1   Bulbasaur  Grass  Poison     0.7     6.9          0
1   2     Ivysaur  Grass  Poison     1.0    13.0          0
2   3    Venusaur  Grass  Poison     2.0   100.0          0
3   4  Charmander   Fire     NaN     0.6     8.5          0
4   5  Charmeleon   Fire     NaN     1.1    19.0          0
      No       Name    Type1   Type2  Height  Weight  Legendary
145  146    Moltres     Fire  Flying     2.0    60.0          1
146  147    Dratini   Dragon     NaN     1.8     3.3          0
147  148  Dragonair   Dragon     NaN     4.0    16.5          0
148  149  Dragonite   Dragon  Flying     2.2   210.0          0
149  150     Mewtwo  Psychic     NaN     2.0   122.0          1
(150, 7)
Index(['No', 'Name', 'Type1', 'Type2', 'Height', 'Weight', 'Legendary'], dtype='object')
0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object
count    150.000000
mean       1.200000
std        0.963634
min        0.200000
25%        0.700000
50%        1.000000
75%        1.500000
max        8.800000
Name: Height, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 150 entries, 0 to 149
Series name: Height
Non-Null Count  Dtype
--------------  -----
150 non-null    float64
dtypes: float64(1)
memory usage: 1.3 KB
None
           Name  Height  Weight
0     Bulbasaur     0.7     6.9
1       Ivysaur     1.0    13.0
2      Venusaur     2.0   100.0
3    Charmander     0.6     8.5
4    Charmeleon     1.1    19.0
..          ...     ...     ...
145     Moltres     2.0    60.0
146     Dratini     1.8     3.3
147   Dragonair     4.0    16.5
148   Dragonite     2.2   210.0
149      Mewtwo     2.0   122.0

[150 rows x 3 columns]
No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [62]:
# Mini pokemon search
df2 = pd.read_csv('../data/pokemon_data.csv', index_col="Name")
pokemon = input("Enter a pokemon name: ").title()
try:
    print(df2.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found!")

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [ ]:
# Filtration

tall_pokemon = df[df["Height"] >= 2] # syntax: df[indexing condition]. Filtering all pokemon with height greater than or equal to 2.
print(tall_pokemon)

heavy_pokemon = df[df["Weight"] >= 300] # Filtering all pokemon with weight greater than or equal to 100.
print(heavy_pokemon)

legendary_pokemon = df[df["Legendary"] == True] # Filtering all legendary pokemon.
print(legendary_pokemon)

water_pokemon = df[(df["Type1"] == "Water") | (df["Type2"] == "Water") ] # Filtering all water type pokemon.
print(water_pokemon)

      No        Name    Type1    Type2  Height  Weight  Legendary
2      3    Venusaur    Grass   Poison     2.0   100.0          0
22    23       Ekans   Poison      NaN     2.0     6.9          0
23    24       Arbok   Poison      NaN     3.5    65.0          0
94    95        Onix     Rock   Ground     8.8   210.0          0
102  103   Exeggutor    Grass  Psychic     2.0   120.0          0
114  115  Kangaskhan   Normal      NaN     2.2    80.0          0
129  130    Gyarados    Water   Flying     6.5   235.0          0
130  131      Lapras    Water      Ice     2.5   220.0          0
142  143     Snorlax   Normal      NaN     2.1   460.0          0
145  146     Moltres     Fire   Flying     2.0    60.0          1
147  148   Dragonair   Dragon      NaN     4.0    16.5          0
148  149   Dragonite   Dragon   Flying     2.2   210.0          0
149  150      Mewtwo  Psychic      NaN     2.0   122.0          1
      No     Name   Type1   Type2  Height  Weight  Legendary
75    76    Golem    Rock  Ground     1.4   300.0          0
142  143  Snorlax  Normal     NaN     2.1   460.0          0
      No      Name     Type1   Type2  Height  Weight  Legendary
143  144  Articuno       Ice  Flying     1.7    55.4          1
144  145    Zapdos  Electric  Flying     1.6    52.6          1
145  146   Moltres      Fire  Flying     2.0    60.0          1
149  150    Mewtwo   Psychic     NaN     2.0   122.0          1
      No        Name  Type1     Type2  Height  Weight  Legendary
6      7    Squirtle  Water       NaN     0.5     9.0          0
7      8   Wartortle  Water       NaN     1.0    22.5          0
8      9   Blastoise  Water       NaN     1.6    85.5          0
53    54     Psyduck  Water       NaN     0.8    19.6          0
54    55     Golduck  Water       NaN     1.7    76.6          0
59    60     Poliwag  Water       NaN     0.6    12.4          0
60    61   Poliwhirl  Water       NaN     1.0    20.0          0
61    62   Poliwrath  Water  Fighting     1.3    54.0          0
71    72   Tentacool  Water    Poison     0.9    45.5          0
72    73  Tentacruel  Water    Poison     1.6    55.0          0
78    79    Slowpoke  Water   Psychic     1.2    36.0          0
79    80     Slowbro  Water   Psychic     1.6    78.5          0
85    86        Seel  Water       NaN     1.1    90.0          0
86    87     Dewgong  Water       Ice     1.7   120.0          0
89    90    Shellder  Water       NaN     0.3     4.0          0
90    91    Cloyster  Water       Ice     1.5   132.5          0
97    98      Krabby  Water       NaN     0.4     6.5          0
98    99     Kingler  Water       NaN     1.3    60.0          0
115  116      Horsea  Water       NaN     0.4     8.0          0
116  117      Seadra  Water       NaN     1.2    25.0          0
117  118     Goldeen  Water       NaN     0.6    15.0          0
118  119     Seaking  Water       NaN     1.3    39.0          0
119  120      Staryu  Water       NaN     0.8    34.5          0
120  121     Starmie  Water   Psychic     1.1    80.0          0
128  129    Magikarp  Water       NaN     0.9    10.0          0
129  130    Gyarados  Water    Flying     6.5   235.0          0
130  131      Lapras  Water       Ice     2.5   220.0          0
133  134    Vaporeon  Water       NaN     1.0    29.0          0
137  138     Omanyte   Rock     Water     0.4     7.5          0
138  139     Omastar   Rock     Water     1.0    35.0          0
139  140      Kabuto   Rock     Water     0.5    11.5          0
140  141    Kabutops   Rock     Water     1.3    40.5          0

In [74]:
# Aggregation functions for whole DataFrame
print(df.mean(numeric_only=True)) # Mean of the columns with numeric data only.
print(df.sum(numeric_only=True)) # Sum of the columns with numeric data only.
print(df.min(numeric_only=True)) # Minimum value of the columns with numeric data only.
print(df.max(numeric_only=True)) # Maximum value of the columns with numeric data only.
print(df.count()) # Count of non-null values in each column.

# Single Column Aggregation
print(df["Height"].mean()) 
print(df["Height"].sum()) 
print(df["Height"].min()) 
print(df["Height"].max()) 
print(df["Height"].count())

# GroupBy function:
group = df.groupby('Type1') # Grouping the dataframe by Type1 column. 
print(group["Height"].mean()) # Getting the mean height of each group.

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64
No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64
No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64
No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64
No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64
1.2
180.0
0.2
8.8
150
Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [ ]:
# Data Cleaning - Handling Missing Data
# 1. Drop irrelevant data
df_new = df.drop(columns=['Legendary', "No"]) # Dropping the 'Legendary' column as it is not relevant for our analysis.
print(df_new)

# 2. Handling missing data
# df_new = df.dropna(subset=['Type2']) # Dropping rows where 'Type2' column has missing data.
# print(df_new)
df_new = df.fillna({'Type2': 'Unknown'}) # Filling missing data in 'Type2' column with 'Unknown'.
print(df_new)

# 3. Fix inconsistent values
df_new["Type1"] = df_new["Type1"].replace({"Grass": "GRASS",
                                           "Fire": "FIRE"})
print(df_new)

# 4. Standardize Text
df_new["Name"] = df_new["Name"].str.upper()
print(df_new)

# 5. Fix Data Types
df_new["Legendary"] = df["Legendary"].astype(bool)
print(df_new)

# 6. Remove Duplicate Values
df_new = df.drop_duplicates()

           Name    Type1   Type2  Height  Weight
0     Bulbasaur    Grass  Poison     0.7     6.9
1       Ivysaur    Grass  Poison     1.0    13.0
2      Venusaur    Grass  Poison     2.0   100.0
3    Charmander     Fire     NaN     0.6     8.5
4    Charmeleon     Fire     NaN     1.1    19.0
..          ...      ...     ...     ...     ...
145     Moltres     Fire  Flying     2.0    60.0
146     Dratini   Dragon     NaN     1.8     3.3
147   Dragonair   Dragon     NaN     4.0    16.5
148   Dragonite   Dragon  Flying     2.2   210.0
149      Mewtwo  Psychic     NaN     2.0   122.0

[150 rows x 5 columns]
      No        Name    Type1    Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass   Poison     0.7     6.9          0
1      2     Ivysaur    Grass   Poison     1.0    13.0          0
2      3    Venusaur    Grass   Poison     2.0   100.0          0
3      4  Charmander     Fire  Unknown     0.6     8.5          0
4      5  Charmeleon     Fire  Unknown     1.1    19.0          0
..   ...         ...      ...      ...     ...     ...        ...
145  146     Moltres     Fire   Flying     2.0    60.0          1
146  147     Dratini   Dragon  Unknown     1.8     3.3          0
147  148   Dragonair   Dragon  Unknown     4.0    16.5          0
148  149   Dragonite   Dragon   Flying     2.2   210.0          0
149  150      Mewtwo  Psychic  Unknown     2.0   122.0          1

[150 rows x 7 columns]
      No        Name    Type1    Type2  Height  Weight  Legendary
0      1   Bulbasaur    GRASS   Poison     0.7     6.9          0
1      2     Ivysaur    GRASS   Poison     1.0    13.0          0
2      3    Venusaur    GRASS   Poison     2.0   100.0          0
3      4  Charmander     FIRE  Unknown     0.6     8.5          0
4      5  Charmeleon     FIRE  Unknown     1.1    19.0          0
..   ...         ...      ...      ...     ...     ...        ...
145  146     Moltres     FIRE   Flying     2.0    60.0          1
146  147     Dratini   Dragon  Unknown     1.8     3.3          0
147  148   Dragonair   Dragon  Unknown     4.0    16.5          0
148  149   Dragonite   Dragon   Flying     2.2   210.0          0
149  150      Mewtwo  Psychic  Unknown     2.0   122.0          1

[150 rows x 7 columns]
      No        Name    Type1    Type2  Height  Weight  Legendary
0      1   BULBASAUR    GRASS   Poison     0.7     6.9          0
1      2     IVYSAUR    GRASS   Poison     1.0    13.0          0
2      3    VENUSAUR    GRASS   Poison     2.0   100.0          0
3      4  CHARMANDER     FIRE  Unknown     0.6     8.5          0
4      5  CHARMELEON     FIRE  Unknown     1.1    19.0          0
..   ...         ...      ...      ...     ...     ...        ...
145  146     MOLTRES     FIRE   Flying     2.0    60.0          1
146  147     DRATINI   Dragon  Unknown     1.8     3.3          0
147  148   DRAGONAIR   Dragon  Unknown     4.0    16.5          0
148  149   DRAGONITE   Dragon   Flying     2.2   210.0          0
149  150      MEWTWO  Psychic  Unknown     2.0   122.0          1

[150 rows x 7 columns]
      No        Name    Type1    Type2  Height  Weight  Legendary
0      1   BULBASAUR    GRASS   Poison     0.7     6.9      False
1      2     IVYSAUR    GRASS   Poison     1.0    13.0      False
2      3    VENUSAUR    GRASS   Poison     2.0   100.0      False
3      4  CHARMANDER     FIRE  Unknown     0.6     8.5      False
4      5  CHARMELEON     FIRE  Unknown     1.1    19.0      False
..   ...         ...      ...      ...     ...     ...        ...
145  146     MOLTRES     FIRE   Flying     2.0    60.0       True
146  147     DRATINI   Dragon  Unknown     1.8     3.3      False
147  148   DRAGONAIR   Dragon  Unknown     4.0    16.5      False
148  149   DRAGONITE   Dragon   Flying     2.2   210.0      False
149  150      MEWTWO  Psychic  Unknown     2.0   122.0       True

[150 rows x 7 columns]